@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  color: white;
  background-color: black;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

/* container */
.center-container {
  width: 90%;
  max-width: 1000px;

  position: absolute;
  inset: 25% 0 0 0;
  margin: 0 auto;
}

/* cli */
.cli {
  margin: 0 auto;
}

.cli > input {
  font-size: 30px;
  background-color: black;
  display: block;
  margin: 0 auto;
  width: 85%;
  border-bottom: solid;
}

.cli > input:focus {
  outline: none;
}

/* header */
.header {
  align-items: center;
  justify-content: center;
}

.mobile-header-menu-toggle {
  display: none;
}

.header-menu {
  list-style: none;
  padding-top: 8px;
  --gap: 2em;
}

.header-menu a {
  text-decoration: none;
}

.header-menu a:hover {
  border-bottom: solid 2px;
  padding-bottom: 6px;
}

.header-menu a > [aria-hidden="true"] {
  font-weight: 700;
  margin-inline-end: 0.5em;
}

@media (max-width: 35em) {
  .header-menu {
    --gap: 2em;

    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;

    flex-direction: column;
    padding: min(25vh, 10rem) 2em;
  }

  .mobile-header-menu-toggle {
    display: block;
    position: absolute;
    background: url("../assets/icons8-hamburger-64.png") no-repeat;
    background-size: contain;
    border: 0;
    z-index: 9999;
    width: 2rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
  }
}

/* general */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
