@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JosefinSlab";
  src: url("/fonts/JosefinSlab/JosefinSlab-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

html,
body {
  color: white;
  background-color: black;
  padding: 0;
  margin: 0;
  font-family: JosefinSlab;
}

* {
  box-sizing: border-box;
}

/* container */
.center-container {
  width: 90%;
  max-width: 1000px;

  position: absolute;
  inset: 25% 0 0 0;
  margin: 0 auto;
}

/* cli */
.cli {
  margin: 0 auto;
}

.cli > input {
  font-size: 42px;
  position: relative;
  background-color: black;
  display: block;
  margin: 0 auto;
  width: 85%;
  border-bottom: solid;
}

.cli > input:focus {
  outline: none;
}

/* header */
.header {
  justify-content: center;
}

.mobile-header-menu-toggle {
  display: none;
}

.header-menu {
  font-size: 34px;
  list-style: none;
  padding-top: 8px;
  --gap: 2em;
}

/* header underline animation */
.header-menu a {
  color: white;
  position: relative;
  text-decoration: none;
  padding-bottom: 8px;
}
.header-menu a:before, .header-menu a:after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: white;
}

.header-menu a:before {
  opacity: 0;
  transform: translateY(-8px);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
}

.header-menu a:after {
  opacity: 0;
  transform: translateY(4px);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}

.header-menu a:hover:before, .header-menu a:hover:after, .header-menu a:focus:before, .header-menu a:focus:after {
  opacity: 1;
  transform: translateY(0);
}

.header-menu a:hover:before, .header-menu a:focus:before {
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}

.header-menu a:hover:after, .header-menu a:focus:after {
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
}

.header-menu a > [aria-hidden="true"] {
  font-weight: 700;
  margin-inline-end: 0.5em;
}

@media (max-width: 35em) {
  .header-menu {
    --gap: 2em;

    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;

    flex-direction: column;
    padding: min(25vh, 10rem) 2em;
  }

  .mobile-header-menu-toggle {
    display: block;
    position: absolute;
    background: url("../public/icons/hamburger-white.png") no-repeat;
    background-size: contain;
    border: 0;
    z-index: 9999;
    width: 2rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
  }
}

/* general */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.custom404 {
  background: red;
}
